/* Cores usadas: */
/* 
--black: #000000;
--dark-purple: #251042;
--blue: #7177C5;
--magenta: #76237B;
--gray: #D3D3D3;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  .hero {
    position: relative;
    height: 500px;
    overflow: hidden;
  }
  .hero-text {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
  .hero-text p {
    margin: 10px 0 20px;
  }
  .navbar {
    background-color: #251042;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    font-size: 20px;
  }
  .logo-img {
    height: 90px;
  } 
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
    gap: 25px;      
   
  }
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
  }
  .nav-links li a:hover {
    color: #7177C5;  
  }
  .nav-links a:hover {
    color: #7177c5;
  }
  body {
    line-height: 15px;
    background-color: #d3d3d3;
    color: #251042;
  } 
  header {
    background: #251042;
    color: #d3d3d3;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 60px;
  }
  .navbar ul {
    display: flex;
    list-style: none;
  }
  .navbar ul li {
    margin: 15px;
  }
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  .navbar ul li a:hover {
    color: #76237b;
  }
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  .slide.active {
    opacity: 1;
  }
  .btn {
    background: #76237b;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  .btn:hover {
    background: #7177c5;
  }
  .hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  .hero p {
    font-size: 30px;
    margin-bottom: 20px;
  }
  section {
    padding: 60px 20px;
    text-align: center;
  }
  section h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color:#251042;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
  }
  .card {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px #251042;
    transition: transform 0.3s ease;
  }
  .card:hover {
    transform: translateY(-5px);
  }
  .card h3 {
    color: #d3d3d3;
    margin-bottom: 10px;
  }
  .card p {
    font-size: 15px;
    color: #d3d3d3;
  }
  footer {
    background: #251042;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
  }
  